

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
margin:0;
box-sizing: border-box;
padding:0 ;
}
p{text-align: none;}






body{ 
background-color: #f4f0ea;
color: #798252;
font-family: 'Montserrat', 'Arial', 'sans-serif';
font-weight: 400; 

  display: flex;
  flex-direction: column;
  

}

h2{
color: #707070;
}



i{
  color: #3e5a47;
}


b{

  color: #2e5a39;
}

header{
  margin-left: 0.1rem;
  border: 10px solid;
  border-color: #2a9d6b;
padding: 2rem; 

}

main {display: flex;
   flex-direction: column;
   gap : 2rem;
    margin-bottom: 0.3rem;
  padding-top: 1rem;
  margin-left: 0.5rem;

}

section {

display: flex;
flex-direction: column;
gap : 0.5rem;



} 
ol {
padding : 1rem;

}
img {

  border: 4px solid #3e4f3c;

}