

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
margin:0;
box-sizing: border-box;
padding:0 ;
}







body{ 

background-color: #f4f0ea;
color: #798252;
font-family: 'Montserrat', 'Arial', 'sans-serif';
font-weight: 400; 

  display: flex;
  flex-direction: column;
  

}

h2{
color: #707070;
}



i{
  color: #3e5a47;
}


b{

  color: #2e5a39;
}

header{
  margin-left: 0.1rem;
  border: 10px solid;
  border-color: #2a9d6b;
padding: 2rem; 

}

main {display: flex;
   flex-direction: column;
   gap : 2rem;
    margin-bottom: 0.3rem;
  padding-top: 1rem;
  margin-left: 0.5rem;

} 




input[type="radio"]{ 
padding: 5px;

border:  2.5px solid rgb(63, 207, 63);
background-color: transparent;
border-radius: 50%;
box-sizing: border-box; 
cursor:pointer;

appearance: none;


}input[type="radio"]:checked{
  
box-shadow: inset 0 0 0 2.5px #45db9a;
  transition-duration: 0.5s;
}



 input[id="p2"]{

border: 2px solid #CDD595;
padding: 0.5rem;
width: 100%;
margin-left: 0;

outline: none;
border-radius: 8px;
background-color:transparent;
 }
 input::placeholder{
 font-family: 'cabin', 'Arial', 'sans-serif';
  background-color: none;
 }

 input[type="checkbox"]{
 
cursor:pointer;
appearance: none;
border: 2.5px solid rgb(63, 207, 63);
background-color: transparent;
padding: 4px;
 
 }
 
 input[type="checkbox"]:checked{
 appearance: auto;
  accent-color: #45db9a;
  transition-duration: 0.5s;
 }

 select{
 border: 2px solid #CDD595;
width:100%;
padding: 0.5rem;
background-color: transparent;
border-radius: 8px;
outline: none;
  
 }

section {

display: flex;
flex-direction: column;
gap : 0.5rem;



} 
ol {
padding : 1rem;

}




img {

  border: 4px solid #3e4f3c;

}