

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
margin:0;
box-sizing: border-box;
padding:0 ;
}







body{ 

background-color: #f4f0ea;
color: #798252;
font-family: 'Montserrat', 'Arial', 'sans-serif';
font-weight: 400; 

  display: flex;
  flex-direction: column;
  

}

h2{
color: #707070;
}



i{
  color: #3e5a47;
}


b{

  color: #2e5a39;
}

header{
  margin-left: 0.1rem;
  border: 10px solid;
  border-color: #2a9d6b;
padding: 2rem; 

}

main {display: flex;
   flex-direction: column;
   gap : 2rem;
    margin-bottom: 0.3rem;
  padding-top: 1rem;
  margin-left: 0.5rem;

} 




input[type="radio"]{ 
padding: 5px;

border:  2.5px solid blue;
background-color: transparent;
border-radius: 50%;
box-sizing: border-box; 
cursor:pointer;
appearance: none;
}
input[type="radio"]:checked{
  content: ' ';
   text-align :center; 
  
  transition-duration: 1s;
/* length: 1.5px;
   width: 1.5px;
  height:1.5px;  */
/* aprender o resto, um passo de cada vez */

  box-shadow: inset 5px -5px 0px -3px blue ;
  

}



input[type="text"] {
border: 2px solid #CDD595;
padding: 0.5rem;
width: 100%;
margin-left: 0;
outline: none;
border-radius: 8px;
background-color:transparent;

}

section {

display: flex;
flex-direction: column;
gap : 0.5rem;



} 
ol {
padding : 1rem;

}




img {

  border: 4px solid #3e4f3c;

}