

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
margin:0;
box-sizing: border-box;
padding:0 ;
}







body{ 
border: 2px solid #f4f0ea;
border-collapse: separate;
background-color: #f4f0ea;
color: #798252;
font-family: 'Montserrat', 'Arial', 'sans-serif';
font-weight: 400; 

  display: flex;
  flex-direction: column;
  

}
ul{
  margin-left: 1rem;
}

h2{
color: #707070;
}



i{
  color: #3e5a47;
}


b{

  color: #2e5a39;
}

header{
  margin-left: 0.1rem;
  border: 10px solid;
  border-color: #2a9d6b;
padding: 2rem; 

}

main {display: flex;
   flex-direction: column;
   gap : 2rem;
    margin-bottom: 0.3rem;
  padding-top: 1rem;
  margin-left: 0.5rem;

} 




input[type="radio"]{ 
padding: 5px;

border:  2.5px solid rgb(63, 207, 63);
background-color: transparent;
border-radius: 50%;
box-sizing: border-box; 
cursor:pointer;

appearance: none;


}input[type="radio"]:checked{
  
box-shadow: inset 0 0 0 2.5px #45db9a;
  transition-duration: 0.5s;
}



 input[id="p2"], input[name="resposta8"], Select{
font-size: 14.72px;

border: 2px solid #CDD595;
padding: 0.5rem;
width: 100%;
margin-left: 0;

outline: none;
border-radius: 8px;
background-color:transparent;
 }
 input[id=p2]::placeholder, input[name="reposta8"]::placeholder{
 font-family: 'cabin', 'Arial', 'sans-serif';
  background-color: none;
 font-size: 14.72px;

 
 }
 .pr{

position:relative;


 }
 

 input[type="checkbox"]{
 position: absolute;

cursor:pointer;
appearance: none;
border: 2.5px solid rgb(63, 207, 63);
background-color: transparent;
padding: 4px;

 }
 .icon{
  opacity: 100%;
  pointer-events: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  length: 20px;
position: absolute; 
padding: 2px;
background-clip: padding-box;
background-image: url(check.png);
accent-color:#45db9a;

 }
 
 input[type="checkbox"]:checked{


  transition-duration: 0.5s;

}


 

option{
  font-family: 'cabin', 'Arial', 'sans-serif';
  background-color: #f4f0ea;
  font-size: 14.72px;
  
  border: 1.4px solid  #CDD595;
}
option::selection{
opacity: 40%;
  background-color: darkgreen ;
}
 section {

 display: flex;
flex-direction: column; 
gap : 0.5rem;



} 
ol {
padding : 1rem;

}




img {

  border: 4px solid #3e4f3c;

}

 
table{
/* length: 100%; */
width:100%; 
display: table-column;
border-collapse: collapse;
}

th, td{border: 1.5px solid black;

padding: 2rem;}

tr{width:100%}
th[name="direita"], td[name="direita"]{

background-color: #CDD595;

  
}

summary{
padding: 0.5rem;
margin: 1rem;
background-clip: padding-box;
background-color: #CDD595 ;


}

details li {
padding: 1rem;
margin: 1rem;
background-clip: margin-box;

}
details{background-color: #CDD595 ;}



th[name="esquerda"], td[name="esquerda"]{

background-color:   #d9d752;

  
}
tfoot{
background-color: #EDE8D0 ;



}


fieldset{
  display:flex;
  flex-direction: column;
border: 1.5px solid #CDD595;

}
fieldset input{
background-color: transparent;
width: 70%;


font-size: 14.72px;
outline: none;
border-radius: 8px;

border: 2px solid #CDD595;
}
fieldset input label{

font-size: 15px;


}
fieldset input::placeholder, fieldset::placeholder{
 font-family: 'cabin', 'Arial', 'sans-serif';
  background-color: none;}

  fieldset textarea{
 background-color:transparent;

font-size: 14.72px;
outline: none;
border: 2px solid #CDD595;

 width: 50%;
 height: 50%;


  }

.f{

text-align:center

}
 
footer{
background-color: white;


}


